<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quis cupiditate eius. Quibusdam
        exercitationem excepturi, commodi architecto sed libero corrupti similique unde beatae nobis veniam rerum ipsam
        voluptatum adipisci! Amet reprehenderit ipsam inventore veritatis rem aperiam non, adipisci repudiandae, magni
        beatae exercitationem deleniti ea doloribus quisquam laudantium ipsum possimus enim!</p>
</footer>